.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.weatherWrapper {
  background: rgb(0, 136, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 136, 255, 1) 0%,
    rgba(4, 96, 181, 0.9850533963585434) 61%
  );
  box-shadow: 0px 0px 5px #d3d3d3;
  padding: 32px;
  color: #ffffff;
  width: 60%;
  padding: 32px;
  height: 40vh;
}
.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchWrapper input {
  background-color: #ffffff;
  border: 1px solid #777;
  width: 80%;
  height: 35px;
  outline: none;
  color: black;
}
.searchWrapper svg {
  color: #ffffff;
}
.searchWrapper svg:hover {
  cursor: pointer;
}
.searchWrapper span {
  color: #ffffff;
  font-size: 22px;
}

.timeWrapper {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}
.currentWeather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statistics p {
  margin: 0;
}
.loading {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weatherIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weatherIcon p {
  font-size: 14px;
  font-weight: 600;
}
